name: Other

on:
    push:
      branches: [main]
    pull_request:
      branches: [main, "**"]
      paths-ignore:
        - "CHANGELOG.md"

jobs:
  validate-renovate:
    name: Validate Renovate's Config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Validate Config
        uses: rinchsan/renovate-config-validator@main
